# Experimento para detección semi-automática de recorridos, tomando agrupando por idsam + fecha

La idea es que utilizando el patrón dibujado por cada idsam dentro de un día se pueda detectar y agrupar los patrones de recorridos iguales/similares a manera de poder detectar la linea/ramal pudiendo ignorar el idrutaestacion.

Esto nos permitiria:
a) Auto-detectar el ramal por su trayectoria y poder empezar a limpiar el idrutaestacion 0000
b) Detectar alteraciones y anormalidades en el trayecto esperado.
c) Predecir congestión? Acá ya volando alto, pero el markdown perdona todo.

Importar la librerías que vamos a necesitar. Como vamos a verificar mucho del funcionamiento manualmente para poder desarrollar una metodologia, vamos a hacer varios mapas.

In [84]:
import pandas as pd
import numpy as np

import os
import datetime

import geopandas as gpd
import contextily as cx

import matplotlib.pyplot as plt

Carguemos los datos de una linea de prueba, para este caso vamos a usar la idrutaestacion __0145__ que esta asociada a __"ITA - LAMBARÉ (Canal 13) Troncal 1"__ de la empresa **"3 DE FEBRERO SA"**

In [85]:
datos_rutas = pd.read_csv("../../data/interim/datosporlinea/linea-0145.csv", sep = ';',low_memory=False)
print(datos_rutas.sample(10))

                            serialtarjeta           idsam
236059   410c88f35af5af19ca9be8779183c9e3  0408211a846280  \
1001087  fbd8bac8ee88d25511a9bef5144d0505  041c1de24e6180
977015   95ae078df088679373621215f27652d5  04081e1a846280
373252   19af5021e4b21f41fe2092c579b55506  04191fe24e6180
179737   e2ffdc5c0e4aa14c80c958dfdf783e1f  041917e24e6180
461408   fd66b665e616c575eafc0d351d8692fc  04191be24e6180
977018   25646f0392d70579d554dab3746e0f24  041d12e24e6180
748397   a012ea48b721d3f3171408f48d9c1184  0408181a846280
717496   130f9788241521aec97edd81ebfa6252  04303e22b95a80
209662   23453c22abf9c675aeb9891687b45c78  0409131a846280

                       fechahoraevento producto  montoevento
236059   2022/11/18 13:28:46.000000000       MO         3400  \
1001087  2022/09/27 13:27:00.000000000       MO         2300
977015   2022/08/06 07:00:30.000000000       MO         3400
373252   2023/01/25 09:03:18.000000000       MO         2300
179737   2022/10/09 11:37:00.000000000       MO         2300
461408   2023/02/13 16:11:56.000000000       MO         2300
977018   2022/08/06 06:59:12.000000000       MO         2300
748397   2022/05/06 14:29:12.000000000       MO         2300
717496   2022/05/19 13:09:54.000000000       MO         2300
209662   2022/11/27 16:01:40.000000000       MO         2300

         consecutivoevento  identidad  tipoevento  latitude  longitude
236059                 203          3           4 -25.39269  -57.46852  \
1001087                298          3           4 -25.32399  -57.59578
977015                  46          3           4 -25.33391  -57.61390
373252                  93          3           4 -25.33526  -57.53343
179737                 144          3           4 -25.39265  -57.46857
461408                 113          3           4 -25.48867  -57.35999
977018                 158          3           4 -25.34839  -57.51361
748397                  50          3           4 -25.35420  -57.61153
717496                 407          3           4 -25.32748  -57.60390
209662                 246          3           4 -25.48118  -57.36175

         idrutaestacion  tipotransporte
236059              145               3
1001087             145               1
977015              145               3
373252              145               1
179737              145               1
461408              145               1
977018              145               1
748397              145               1
717496              145               1
209662              145               1

Ahora empezamos a limpiar todos los datos que no nos interesan.

In [86]:
print(datos_rutas.columns.values.tolist())

['serialtarjeta', 'idsam', 'fechahoraevento', 'producto', 'montoevento', 'consecutivoevento', 'identidad', 'tipoevento', 'latitude', 'longitude', 'idrutaestacion', 'tipotransporte']

In [87]:
datos_rutas.drop(['serialtarjeta', 'producto', 'montoevento', 'consecutivoevento', 'identidad', 'tipoevento', 'tipotransporte'],inplace=True, axis=1)
print(datos_rutas.sample(10))

                 idsam                fechahoraevento  latitude  longitude
259302  0408201a846280  2022/11/08 21:17:46.000000000 -25.34695  -57.50816  \
488882  0410221aaa6380  2023/02/02 05:14:14.000000000 -25.50021  -57.37599
183512  04301222b95a80  2022/10/07 18:06:10.000000000 -25.32394  -57.55347
436241  04301622b95a80  2023/02/23 14:04:04.000000000 -25.41678  -57.45645
348405  0411171aaa6380  2022/12/04 08:12:58.000000000 -25.44156  -57.44257
800564  041c21e24e6180  2022/06/11 20:26:30.000000000 -25.50241  -57.37337
812177  04081e1a846280  2022/06/08 17:42:54.000000000 -25.31242  -57.58586
291031  041c20e24e6180  2022/12/28 07:11:20.000000000 -25.45701  -57.36728
243018  04301222b95a80  2022/11/16 06:53:40.000000000 -25.34860  -57.63507
966621  04081b1a846280  2022/08/10 12:31:22.000000000 -25.50705  -57.35786

        idrutaestacion
259302             145
488882             145
183512             145
436241             145
348405             145
800564             145
812177             145
291031             145
243018             145
966621             145

Ahora que solamente tenemos los identificadores de los lectores (buses), los momentos en que ocurren los eventos, la posición geografica del evento (latitude,longitude) y el identificador de la ruta; ya podemos empezar a trabajar.

In [88]:
datos_rutas.info()
datos_rutas.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074281 entries, 0 to 1074280
Data columns (total 5 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   idsam            1074281 non-null  object
 1   fechahoraevento  1074281 non-null  object
 2   latitude         1074281 non-null  float64
 3   longitude        1074281 non-null  float64
 4   idrutaestacion   1074281 non-null  int64
dtypes: float64(2), int64(1), object(2)
memory usage: 41.0+ MB

,idsam,fechahoraevento,latitude,longitude,idrutaestacion
139389,04301722b95a80,2022/10/24 07:56:48.000000000,-25.31706,-57.57223,145
343409,04191be24e6180,2022/12/06 17:07:46.000000000,-25.32289,-57.55542,145
219826,0408211a846280,2022/11/23 19:07:04.000000000,-25.43032,-57.44985,145
90372,041c24e24e6180,2022/02/13 22:24:38.000000000,-25.34455,-57.50161,145
1073078,0408171a846280,2022/09/01 14:35:00.000000000,-25.37601,-57.47669,145
478112,04191fe24e6180,2023/02/06 05:37:20.000000000,-25.37321,-57.47805,145
938826,041c21e24e6180,2022/08/21 18:17:08.000000000,-25.35558,-57.48846,145
115364,041c24e24e6180,2022/02/02 20:16:40.000000000,-25.31719,-57.57183,145
953769,04300e22b95a80,2022/08/15 08:50:28.000000000,-25.48000,-57.40960,145
878025,0411171aaa6380,2022/07/14 17:57:58.000000000,-25.31711,-57.57210,145

Primeramente revisamos los datos y hacemos algo de limpieza y ajustes.

In [93]:
# Convertimos la columna de cadena a fecha
datos_rutas['fechahoraevento']= pd.to_datetime(datos_rutas['fechahoraevento'])

# Remover todos los casos donde latitud y longitud sean ceros
datos_rutas = datos_rutas[(datos_rutas[['latitude','longitude']] != 0).all(axis=1)] 
# datos_rutas["fechastr"] = datos_rutas['fechahoraevento'].dt.strftime('%Y%m%d%H%M')
datos_rutas["fechastr"] = datos_rutas['fechahoraevento'].dt.strftime('%Y%m%d')

datos_rutas

,idsam,fechahoraevento,latitude,longitude,idrutaestacion,fechastr
0,041d12e24e6180,2022-01-30 23:49:56,-25.38953,-57.47013,145,20220130
1,041d12e24e6180,2022-01-30 23:40:46,-25.34554,-57.50541,145,20220130
2,041d12e24e6180,2022-01-30 23:40:40,-25.34554,-57.50541,145,20220130
3,041d12e24e6180,2022-01-30 23:40:34,-25.34554,-57.50541,145,20220130
4,041d12e24e6180,2022-01-30 23:40:30,-25.34554,-57.50541,145,20220130
...,...,...,...,...,...,...
1074276,04132822626c80,2022-09-01 05:22:52,-25.34199,-57.62491,145,20220901
1074277,04132822626c80,2022-09-01 05:22:22,-25.34224,-57.62633,145,20220901
1074278,04132822626c80,2022-09-01 05:20:38,-25.34265,-57.63326,145,20220901
1074279,04132822626c80,2022-09-01 05:20:38,-25.34265,-57.63326,145,20220901
1074280,041c24e24e6180,2022-09-01 04:54:04,-25.44830,-57.36457,145,20220901

Ahora vamos a tomar un idsam en particular y vamos a comenzar el trabajo de intentar crear una ruta estandar contra la cual vamos a comprar a las demas.

In [94]:
# Creamos un listado de todos los idsams (lectores-vehiculos) presentes en el dataset limpio
idsams = datos_rutas['idsam'].unique() 
print(idsams.shape)
print(idsams)
fechas_trayectorias = datos_rutas['fechastr'].unique() 
print(fechas_trayectorias.shape)
print(fechas_trayectorias)

(45,)
['041d12e24e6180' '04132822626c80' '04300e22b95a80' '0408191a846280'
 '04081b1a846280' '041922e24e6180' '04132f1aaa6380' '0408181a846280'
 '041c24e24e6180' '0408131a846280' '04191be24e6180' '041a38e24e6180'
 '041c21e24e6180' '04301222b95a80' '041c1ce24e6180' '041d14e24e6180'
 '041c20e24e6180' '04301522b95a80' '0408211a846280' '0413271aaa6380'
 '04081f1a846280' '0408171a846280' '0408201a846280' '04191fe24e6180'
 '041d0fe24e6180' '04081e1a846280' '04301722b95a80' '04082c1a846280'
 '0411171aaa6380' '04301622b95a80' '0408151a846280' '0409131a846280'
 '041917e24e6180' '041c1fe24e6180' '041c22e24e6180' '041c1de24e6180'
 '041918e24e6180' '04121b1aaa6380' '04131122626c80' '04301a22b95a80'
 '04303e22b95a80' '04120e1aaa6380' '0410221aaa6380' '04203ed2955d80'
 '04102e1aaa6380']
(440,)
['20220130' '20220129' '20220128' '20220127' '20220126' '20220125'
 '20220124' '20220123' '20220122' '20220121' '20220120' '20220119'
 '20220118' '20220117' '20220116' '20220115' '20220114' '20220113'
 '20220112' '20220111' '20220110' '20220109' '20220108' '20220107'
 '20220106' '20220105' '20220104' '20220103' '20220102' '20220101'
 '20220227' '20220226' '20220225' '20220224' '20220223' '20220222'
 '20220221' '20220220' '20220219' '20220218' '20220217' '20220216'
 '20220215' '20220214' '20220213' '20220212' '20220211' '20220210'
 '20220209' '20220208' '20220207' '20220206' '20220205' '20220204'
 '20220203' '20220202' '20220201' '20221030' '20221029' '20221028'
 '20221027' '20221026' '20221025' '20221024' '20221023' '20221022'
 '20221021' '20221020' '20221019' '20221018' '20221017' '20221016'
 '20221015' '20221014' '20221013' '20221012' '20221011' '20221010'
 '20221009' '20221008' '20221007' '20221006' '20221005' '20221004'
 '20221003' '20221002' '20221001' '20221129' '20221128' '20221127'
 '20221126' '20221125' '20221124' '20221123' '20221122' '20221121'
 '20221120' '20221119' '20221118' '20221117' '20221116' '20221115'
 '20221114' '20221113' '20221112' '20221111' '20221110' '20221109'
 '20221108' '20221107' '20221106' '20221105' '20221104' '20221103'
 '20221102' '20221101' '20221230' '20221229' '20221228' '20221227'
 '20221226' '20221225' '20221224' '20221223' '20221222' '20221221'
 '20221220' '20221219' '20221218' '20221217' '20221216' '20221215'
 '20221214' '20221213' '20221212' '20221211' '20221210' '20221209'
 '20221208' '20221207' '20221206' '20221205' '20221204' '20221203'
 '20221202' '20221201' '20230130' '20230129' '20230128' '20230127'
 '20230126' '20230125' '20230124' '20230123' '20230122' '20230121'
 '20230120' '20230119' '20230118' '20230117' '20230116' '20230115'
 '20230114' '20230113' '20230112' '20230111' '20230110' '20230109'
 '20230108' '20230107' '20230106' '20230105' '20230104' '20230103'
 '20230102' '20230101' '20230227' '20230226' '20230225' '20230224'
 '20230223' '20230222' '20230221' '20230220' '20230219' '20230218'
 '20230217' '20230216' '20230215' '20230214' '20230213' '20230212'
 '20230211' '20230210' '20230209' '20230208' '20230207' '20230206'
 '20230205' '20230204' '20230203' '20230202' '20230201' '20230330'
 '20230329' '20230328' '20230327' '20230326' '20230325' '20230324'
 '20230323' '20230322' '20230321' '20230320' '20230319' '20230318'
 '20230317' '20230316' '20230315' '20230314' '20230313' '20230312'
 '20230311' '20230310' '20230309' '20230308' '20230307' '20230306'
 '20230305' '20230304' '20230303' '20230302' '20230301' '20220330'
 '20220329' '20220328' '20220327' '20220326' '20220325' '20220324'
 '20220323' '20220322' '20220321' '20220320' '20220319' '20220318'
 '20220317' '20220316' '20220315' '20220314' '20220313' '20220312'
 '20220311' '20220310' '20220309' '20220308' '20220307' '20220306'
 '20220305' '20220304' '20220303' '20220302' '20220301' '20220429'
 '20220428' '20220427' '20220426' '20220425' '20220424' '20220423'
 '20220422' '20220421' '20220420' '20220419' '20220418' '20220417'
 '20220416' '20220415' '20220414' '20220413' '20220412' '20220411'
 '20220410' '20220409' '20220408' '20220407' '20220406' '20220405'
 '20220404' '20220403' '20220402' '20220401' '20220530' '20220529'
 '20220528' '20220527' '20220526' '20220525' '20220524' '20220523'
 '20220522' '20220521' '20220520' '20220519' '20220518' '20220517'
 '20220516' '20220515' '20220514' '20220513' '20220512' '20220511'
 '20220510' '20220509' '20220508' '20220507' '20220506' '20220505'
 '20220504' '20220503' '20220502' '20220501' '20220629' '20220628'
 '20220627' '20220626' '20220625' '20220624' '20220623' '20220622'
 '20220621' '20220620' '20220619' '20220618' '20220617' '20220616'
 '20220615' '20220614' '20220613' '20220612' '20220611' '20220610'
 '20220609' '20220608' '20220607' '20220606' '20220605' '20220604'
 '20220603' '20220602' '20220601' '20220730' '20220729' '20220728'
 '20220727' '20220726' '20220725' '20220724' '20220723' '20220722'
 '20220721' '20220720' '20220719' '20220718' '20220717' '20220716'
 '20220715' '20220714' '20220713' '20220712' '20220711' '20220710'
 '20220709' '20220708' '20220707' '20220706' '20220705' '20220704'
 '20220703' '20220702' '20220701' '20220830' '20220829' '20220828'
 '20220827' '20220826' '20220825' '20220824' '20220823' '20220822'
 '20220821' '20220820' '20220819' '20220818' '20220817' '20220816'
 '20220815' '20220814' '20220813' '20220812' '20220811' '20220810'
 '20220809' '20220808' '20220807' '20220806' '20220805' '20220804'
 '20220803' '20220802' '20220801' '20220929' '20220928' '20220927'
 '20220926' '20220925' '20220924' '20220923' '20220922' '20220921'
 '20220920' '20220919' '20220918' '20220917' '20220916' '20220915'
 '20220914' '20220913' '20220912' '20220911' '20220910' '20220909'
 '20220908' '20220907' '20220906' '20220905' '20220904' '20220903'
 '20220902' '20220901']

In [91]:
# Tomar todos los datos para un idsam en particular
vehiculo_test = datos_rutas

# Asegurarnos que todos los valores estan ordenados por fecha
vehiculo_test = vehiculo_test.sort_values(by='fechahoraevento')

# Tomar solo muestras de un periodo en particular
dia = vehiculo_test[(vehiculo_test['fechahoraevento'] > "2021-12-31") & (vehiculo_test['fechahoraevento'] < "2023-01-01")]
minx, miny, maxx, maxy = gpd.GeoDataFrame(dia, geometry=gpd.points_from_xy(dia.longitude,dia.latitude),crs="EPSG:4326").total_bounds

print("Esquinas de la ruta para 0145: ",minx, miny, maxx, maxy)

-57.63565 -25.52047 -57.35287 -25.16842

Ahora tratemos de visualizar que paso por día con esos lectores

In [ ]:
fechasstr = datos_rutas['fechastr'].unique()
DIAS = ['Domingo','Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado']

for fechastr in fechasstr:
    imgpath = './graphs/'+fechastr+'.png'
    
    if(os.path.isfile(imgpath)):
        continue
    
    # print(imgpath)
    
    dia_test = dia[(dia[['fechastr']] == fechastr).all(axis=1)] 

    fecha_linda = fechastr[:4]+'-'+fechastr[4:6]+'-'+fechastr[6:8]
    fecha_linda = fecha_linda + " " + DIAS[int(datetime.datetime.strptime(fechastr, '%Y%m%d').strftime("%w"))]
    
    latlon_dia = gpd.GeoDataFrame(dia_test, geometry=gpd.points_from_xy(dia_test.longitude,dia_test.latitude),crs="EPSG:4326")
    try:
        mapa_dia_plot = latlon_dia.plot(figsize=(9, 9),legend=False,marker='+',markersize=20, column='idsam')
        mapa_dia_plot.set(title='Datos '+fecha_linda+' para el idrutaestacion 0145')
        cx.add_basemap(mapa_dia_plot, crs="EPSG:4326",source=cx.providers.Stamen.Toner)
        mapa_dia_plot.set_xlim(xmin=minx, xmax=maxx)
        mapa_dia_plot.set_ylim(ymin=miny, ymax=maxy)
        plt.axis('equal')
        plt.savefig(imgpath,dpi=300)
        plt.close()
    except:
        continue
 

# print("Graficos generados")

Ahora que tenemos cierta idea de cual es el moviento de cada lector, podemos comenzar a crear conjeturas de como podemos generar una trayectoria.
- Uno de los aprendizajes que nos dejan estas imagenes es que un lector no necesariamente esta unido a una sola ruta; un lector puede, durante el día o durante la semana, cambiar de ruta.
- Una misma linea cubre rutas diferentes; pero estas otras rutas son cubiertas con frecuencias diferentes. Casi puede notarse una trayectoria principal y otra secundaria(s); cuando el lector debe cubrir una ruta adicional.
- Las rectas que vamos a dibujar deberan ser por día y por idsam; y rectas que no se ajusten a lo normal deberan ser agrupadas aparte o descartadas. Esto puede generar posiblemente que un idrutaestacion genere como minimo una cantidad de rutas asignadas + 1


Como notas valiosas sobre las cuales vamos a trabajar ahora dejo dos links:
- [Exploring Trip Fuel Consumption by Machine Learning from GPS and CAN Bus Data](https://doi.org/10.11175/easts.11.906)
- [Nivel de exactitud (Accuracy) que agrega cada digito de un valor GPS](https://gis.stackexchange.com/questions/8650/measuring-accuracy-of-latitude-and-longitude)

In [132]:
# vehiculo_random = datos_rutas.sample(1).values[0]
vehiculo_random = ['041c24e24e6180', '2022-12-03 13:02:24', -25.31375,-57.58209, 145, '20221203']
vehiculo_test = datos_rutas[(datos_rutas[['idsam']] == vehiculo_random[0]).all(axis=1)] 
vehiculo_test = vehiculo_test[(vehiculo_test[['fechastr']] == vehiculo_random[5]).all(axis=1)] 
vehiculo_test = vehiculo_test.sort_values(by='fechahoraevento')
vehiculo_test

,idsam,fechahoraevento,latitude,longitude,idrutaestacion,fechastr
350580,041c24e24e6180,2022-12-03 12:12:50,-25.33292,-57.62089,145,20221203
350570,041c24e24e6180,2022-12-03 12:14:28,-25.33359,-57.62555,145,20221203
350543,041c24e24e6180,2022-12-03 12:21:42,-25.34205,-57.62656,145,20221203
350530,041c24e24e6180,2022-12-03 12:25:48,-25.35054,-57.63395,145,20221203
350523,041c24e24e6180,2022-12-03 12:27:32,-25.35188,-57.62821,145,20221203
...,...,...,...,...,...,...
348588,041c24e24e6180,2022-12-03 23:59:04,-25.33405,-57.53676,145,20221203
348587,041c24e24e6180,2022-12-03 23:59:20,-25.33429,-57.53614,145,20221203
348586,041c24e24e6180,2022-12-03 23:59:26,-25.33428,-57.53612,145,20221203
348585,041c24e24e6180,2022-12-03 23:59:36,-25.33445,-57.53567,145,20221203
348584,041c24e24e6180,2022-12-03 23:59:36,-25.33445,-57.53567,145,20221203